@charset "UTF-8";


/* とりあえずリセット
----------------------------------------------------------- */

html,body,div,span,object,iframe,/*h1,h2,h3,h4,h5,h6,*/p,blockquote,
pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,
/*strong,*/sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,
caption,tbody,tfoot,article,aside,canvas,details,figcaption,
figure,footer,header,hgroup,menu,nav,section,summary,time,mark,
audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;
vertical-align:baseline;background:transparent;font-weight:normal;}
body{line-height:1}article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section{display:block}
ul{list-style:none}a{margin:0;padding:0;
font-size:100%;vertical-align:baseline;background:transparent}
del{text-decoration:line-through}abbr[title],dfn[title]
{border-bottom:1px dotted;cursor:help}
hr{display:block;height:1px;border:0;border-top:1px solid #efefef;
margin:1em 0;padding:0}input,select{vertical-align:middle}


/*li {
list-style-type: none;
list-style-position:outside; 

*display:inline;
*zoom:1;
}*/

body {
	font-family: Arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
	
	font-size: 14px;
	color: #292f33;
}
.clear {
	clear: both;
}

.pattern {
	width: 100%;
	height: 100%;
	background: url(img/raster.png);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
}


video {

    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background-size: cover;
	display: block;
  position: fixed;
  top: 0;
  left: 0;

}


img {
	margin: 0px;
	padding: 0px;
	
	}

li a:hover img {
    opacity: 0.6; 
    filter: alpha(opacity=60);
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all  0.3s ease;
}



.nulliro_logo{
	float: left;
	margin-right: 30px;

	}
	
.nulliro_logo2{
	float: left;
	margin-right: 10px;
	margin-top: -10px;
	}	

.title {
	font-family: serif;
	color: #fff;
	font-size: 60px;
	margin: 50px;
	position: fixed;
	z-index: 3;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;
	line-height: 60px;
	text-align: right;
	width: 90%;
	padding-top: 30px;
}


.title li a{
	color: #FFF;
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all  0.3s ease;
	padding: 5px;	
	}

.title li a:hover{
	color: #FFF;
	text-decoration: none;

	text-shadow: 0 0 10px #666;
	color: transparent;
	}


.title2 {
	font-family: serif;
	color: #ffffff;
	font-size: 40px;
	

	z-index: 3;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;
	line-height: 60px;
	text-align: right;
	
}


.title2 li a{
	color: #ffffff;
	text-decoration: none;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all  0.3s ease;
	padding: 5px;	
	}

.title2 li a:hover{
	color: #FFF;
	text-decoration: none;

	text-shadow: 0 0 10px #666;
	color: transparent;
	}



p {
	font-family: serif;
	
	font-size: 18px;
	margin: 50px;
	position: relative;
	
}
.artist_img img{
	position: absolute;
	padding: 0px;
	height: 200px;
	width: 200px;
	margin-top: -100px;
	margin-right: 40px;
	margin-bottom: 0px;
	margin-left: 50px;
	border: 5px solid #FFF;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	float: left;
	box-shadow: 0 1px 1px rgba(136,153,166,0.15);
	}


.navi{
	font-family: serif;
	padding-left: 280px;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	}

.navi ul{
	font-size: 20px;
	}
.navi li a{
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	float: left;
	text-decoration: none;
	color: #333;
	}	
.navi li a:hover{
	padding: 10px;
	float: left;
	text-decoration: none;
	color: #666;
	color: transparent;
    text-shadow: 0 0 10px #666;
	}
	
.navi2{
	font-family: serif;
	padding-left: 40px;
	}

.navi2 ul{
	font-size: 20px;
	}
.navi2 li a{
	float: left;
	text-decoration: none;
	color: #333;
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	}	
.navi2 li a:hover{

	float: left;
	text-decoration: none;
	color: #666;
	color: transparent;
    text-shadow: 0 0 10px #666;
	}
	
	
.navi3{
	font-family: serif;
	padding: 10px;
	}

.navi3 ul{
	font-size: 20px;
	}
.navi3 li a{
	float: left;
	text-decoration: none;
	color: #333;
	padding-top: 15px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 10px;

	}	
.navi3 li a:hover{

	float: left;
	text-decoration: none;
	color: #666;
	color: transparent;
    text-shadow: 0 0 10px #666;
	}		
		
	
.section {
	
	width: 100%;
	position: absolute;
	z-index: 3;
	top: 450px;
	left: 0;
}	

.section2 {
	
	width: 100%;
	position: absolute;
	z-index: 3;
	top: 0px;
	left: 0;
}	


.box01{
	background-color: #FFF;
	border-bottom: 1px solid #e1e8ed;
	padding-top: 20px;
	padding-bottom: 20px;
	width: 100%;
	}
.box01_1{
	background-color: #FFF;

	
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	}	
	
.box02{
	background-color: #FFF;
	border-bottom: 1px solid #e1e8ed;
	z-index: 3;	
	}	
.wap{
	
	width: 100%;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	word-wrap: break-word;
	background-color: #F5F8F8;
	margin: 0px;
	padding-top: 60px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	z-index: 3;
	}
	
.wap_in{
	width: 1000px;
	padding-right: 40px;
	padding-left: 40px;
	z-index: 3;
	margin-right: auto;
	margin-left: auto;
	}
	
.wap2{
	width: 100%;
	font-size: 15px;
	font-weight: 400;
	line-height: 25px;
	word-wrap: break-word;
	background-color: #F5F8F8;
	margin: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	z-index: 4;
	position: absolute;
	top: 500px;
	}
	
.wap_in2{
	width: 1000px;
	z-index: 4;
	margin-right: auto;
	margin-left: auto;
	padding: 40px;
	}


.wap3{
	
	width: 100%;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	word-wrap: break-word;
	background-color: #F5F8F8;
	margin: 0px;
	padding-right: 0px;
	padding-bottom: 30px;
	padding-left: 0px;
	z-index: 3;
	}

.next{
	position: fixed;
	z-index: 5;
	padding: 60px;
	display: block;
	}

.footer{
	position: fixed;
	z-index: 4;
	background-color: #FFF;
	padding: 60px;
	}
	
.ffff{
	background-color: #FFF;
	background-image: url(img/cover.jpg);
	background-position: center top;
	width: 100%;
	}


.ffff2{
	background-color: #FFF;
	background-image: url(img/cover2.jpg);
	background-position: center top;
	width: 100%;
	}
.ffff3{
	background-color: #FFF;
	background-image: url(img/mov00.png);
	background-position: center top;
	width: 100%;
	}
.padding40{
	padding: 40px;
}
.padding60{
	padding-top: 60px;
	padding-right: 40px;
	padding-bottom: 30px;
	padding-left: 40px;
}

.buy{
	float: left;
	margin-right: 20px;
	}
.buy_end{
	margin-right: 20px;
	clear: none;
	}	


.row {
	margin: 0px;
	padding: 0px;	
	}
.bg_fff{
	background-color: #FFF;	

	}	
.tgt{
	padding-top: 10px;	
	}	
	
	
	
	/*ソーシャルボタン*/
	
li.fb1_btn a{
	height: 50px;
	background-color: #3B5998;
	color: #FFF;
	font-size: 15px;
	text-align: center;
	padding-top: 15px;
	font-weight: bold;
	width: 33%;
	min-width: 50px;
	display: inline-block;
	float: left;
	}
	
li.fb1_btn a:hover{
	text-decoration: none;
	   opacity: 0.8;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
		-webkit-box-shadow: 0 6px 6px -6px #999999;
	-moz-box-shadow: 0 6px 6px -6px #999999;
	box-shadow: 0 6px 6px -6px #999999;
	}	
	

li.twitter1_btn a{
	height: 50px;
	background-color: #00aced;
	color: #FFF;
	font-size: 15px;
	text-align: center;
	padding-top: 15px;
	font-weight: bold;
	width: 33%;
	display: inline-block;
	float: left;
	}
	
li.twitter1_btn a:hover{
	text-decoration: none;
	   opacity: 0.8;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
		-webkit-box-shadow: 0 6px 6px -6px #999999;
	-moz-box-shadow: 0 6px 6px -6px #999999;
	box-shadow: 0 6px 6px -6px #999999;
	}	
		
	
li.line1_btn a{
	height: 50px;
	background-color: #2CBF12;
	color: #FFF;
	font-size: 15px;
	text-align: center;
	padding-top: 15px;
	font-weight: bold;
	width: 34%;
	display: inline-block;
	float: left;
	}	

li.line1_btn a:hover{
	text-decoration: none;
	   opacity: 0.8;
    filter: alpha(opacity=80);
    -moz-opacity: 0.8;
		-webkit-box-shadow: 0 6px 6px -6px #999999;
	-moz-box-shadow: 0 6px 6px -6px #999999;
	box-shadow: 0 6px 6px -6px #999999;
	}		

	ul.s_btn{
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
	}
	
/*snsボタン*/
.socialWrap {

	float: right;
	padding-top: 10px;
	padding-right: 0;
	padding-left: 0;
}
 
.socialWrap div {
	display: inline-block;
}
 
.fb_iframe_widget > span {
	vertical-align: baseline !important;
}
